.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.home {
  background-image: url(background.png);
  background-position: center;
  height: 105vh;
  overflow: hidden;
  left: 0;
  bottom: 0;
}

.body_text {
  color: #7CB701;
  font-weight: 700;
  font-family: poppins, sans-serif;
  transform: translate(336px, 319px);
  font-size: 54px;
  text-shadow: 1px 11px black;
}

.about {
  font-weight: 500;
}

#myVideo {
  object-fit: cover;
  opacity: 0.8;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  transform: translate(279px, 272px);
}

h1.about-header {
  margin-left: 205px;
  font-size: 50px;
  color: #7CB701;
  font-weight: 700;
  text-shadow: 1px 11px black;
}

p.about-body {
  font-size: 28px;
  color: #7CB701;
  font-weight: 500;
}